.weather_info_card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  color: #757575;
  background-color: #eff0f8;
  padding: 12px;
  border-radius: 12px;
  gap: 8px;
  font-weight: 600;
}
.title {
  text-wrap: nowrap;
}
.data {
  color: #313131;
}
