.main_weather_info {
  display: flex;
  gap: 24px;
  color: #313131;
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.city {
  font-weight: 500;
  font-size: 48px;
  text-transform: capitalize;
}

.temp_now {
  font-weight: 600;
  font-size: 72px;
}

.description{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 36px;
}
.weather_img > img {
  height: 100%;
}