

.citiesList{
	width: 100%;
	background-color: #F5F5F5;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
	border: 2px solid #5c6bc0;
	border-radius: 8px;
	padding: 8px 12px;
}

.citiesListHidden{
  display: none;
}

.cityHint{
  cursor: pointer;
  color: #3d3d3d;
  font-weight: 500;
  transition: all .2s ease;
  &:hover{
    font-weight: 600;
  }
}